@font-face {
  font-family: "iconfont"; /* Project id 3118940 */
  src: url('iconfont.woff2?t=1646670241728') format('woff2'),
       url('iconfont.woff?t=1646670241728') format('woff'),
       url('iconfont.ttf?t=1646670241728') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-weibiaoti-3:before {
  content: "\e603";
  font-size: xx-large;
}

.icon-fangyuzhong:before {
  content: "\e68e";
  font-size: xx-large;
}

.icon-zhuangxiu:before {
  content: "\e647";
  font-size: xx-large;
}

.icon-huanjing:before {
  content: "\e62a";
  font-size: xx-large;
}

.icon-ren:before {
  content: "\e605";
}

.icon-cuowu:before {
  content: "\e602";
}

.icon-star-full:before {
  content: "\e9a1";
}

.icon-star-yellow:before {
  content: "\ebcf";
  color: rgb(255, 238, 0);
  font-size: 23px;
}

.icon-jiantouyou:before {
  content: "\e6cf";
}

.icon-jiantouzuo:before {
  content: "\ebce";
}

.icon-search:before {
  content: "\e62d";
}

.icon-gouwuchekong:before {
  content: "\e600";
  font-size: larger;
}

.icon-gouwucheman:before {
  content: "\e601";
  font-size: larger;
}

.icon-tongzhi:before {
  content: "\e759";
  font-size: x-large;
}

.icon-tongzhizhongxin_o:before {
  content: "\ebcb";
}

